<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/head'); -%>

	<body class="main-body">

		<!-- Loader -->
		<div id="global-loader">
			<img src="/assets/img/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- End Loader -->

		<!-- Page -->
		<div class="page main-signin-wrapper">

			<!-- Row -->
			<div class="row text-center pl-0 pr-0 ml-0 mr-0">
				<div class="col-lg-3 d-block mx-auto">
					
					<div class="card custom-card">
						<div class="card-body">
							<h4 class="text-center">Signin to Your Account</h4>
							<form action="/weblogin" method="post">
								<div class="form-group text-left">
									<label>Email</label>
									<input class="form-control" id="email" name="email" placeholder="Enter your email" type="text">
									<% if(err['emailreq']) {%>
										<div class="form-group">
											<span class="text-danger"><%=err['emailreq']%></span>
										</div>
										<%}%>
									<% if(err['notemail']) {%>
										<div class="form-group">
											<span class="text-danger"><%=err['notemail']%></span>
										</div>
										<%}%>
								</div>
								<div class="form-group text-left">
									<label>Password</label>
									<input class="form-control" id="" name="password" placeholder="Enter your password" type="password">
									<% if(err['passreq']) {%>
										<div class="form-group">
											<span class="text-danger"><%=err['passreq']%></span>
										</div>
										<%}%>
									<% if(err['password']) {%>
										<div class="form-group">
											<span class="text-danger"><%=err['password']%></span>
										</div>
										<%}%>
								</div>
								<button id="login" class="btn ripple btn-main-primary btn-block">Sign In</button>
							</form>
							<div class="mt-3 text-center">
								<p class="mb-1"><a href="">Forgot password?</a></p>
								<p class="mb-0">Don't have an account? <a href="/signup">Create an Account</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Row -->

		</div>
		<!-- End Page -->

		<!-- Jquery js-->
        <%- include('layouts/scripts'); -%>
		
	</body>
</html>